<nav class="d-flex justify-content-between align-items-center navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Docx</a>
    <ul class="navbar-nav d-flex align-items-center">
      <li class="nav-item">
        <input class="form-control" type="text" placeholder="search" />
      </li>
      <li class="nav-item">
        <a class="nav-link p-1 mx-2 bg-primary text-white" href="/login">Login</a>
      </li>
    </ul>
</nav>